
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="row">
    <div class="col-md-6">
        <div id="piechart" style="height: 500px;" class="w-100">
        </div>
    </div>
    <div class="col-md-6">
        <div id="piechart2" style="height: 500px;" class="w-100">
        </div>
    </div>
</div>
@section JavaScript{
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart1);
        google.charts.setOnLoadCallback(drawChart2);
        function drawChart1() {
            let chartData1 = [['Kullanıcı', 'Görev Sayısı']];
            $.ajax({
                type: "GET",
                url: "./Graph/GetTopFiveUsersWithMostTaks",
                async: false,
                success: function (data) {
                    let resultData = $.parseJSON(data); // parse object
                    $.each(resultData, (index, item) => {
                        chartData1.push([item.Ad, item.Deger])
                    });
                },
                error: function (error) { }
            });
            var data = google.visualization.arrayToDataTable(chartData1);

            var options = {
                title: 'En Çok İş Tamamlayan 5 Kullanıcı'
            };

            var chart = new google.visualization.PieChart(document.getElementById('piechart'));

            chart.draw(data, options);
        }
        function drawChart2() {
            let chartData2 = [['Kullanıcı', 'Görev Sayısı']];
            $.ajax({
                type: "GET",
                url: "./Graph/GetWorkingUsersWithMostTaks",
                async: false,
                success: function (data) {
                    let resultData = $.parseJSON(data); // parse object
                    $.each(resultData, (index, item) => {
                        chartData2.push([item.Ad, item.Deger])
                    });
                },
                error: function (error) { }
            })
            var data = google.visualization.arrayToDataTable(chartData2);

            var options = {
                title: 'Devam Eden Görevi Olan Kullanıcılar'
            };

            var chart = new google.visualization.PieChart(document.getElementById('piechart2'));

            chart.draw(data, options);
        }
    </script>
}

