
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_StandartLayout.cshtml";
}

<h1>Index</h1>

<a asp-area="Admin" asp-controller="Home" asp-action="Index">Admin</a>
<a asp-area="Member" asp-controller="Home" asp-action="Index">Member</a>