
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Member/Views/Shared/_MemberLayout.cshtml";
}

<div class="card m-3" style="max-width: 20rem;">
    <div class="card-header text-white bg-primary">Rapor sayısı</div>
    <div class="card-body">
        <h4 class="card-title">Primary card title</h4>
        <p class="card-text display-4">@ViewBag.ReportCount</p>
    </div>
</div>
